@import url(../PressStart2P/stylesheet.css);
a {
    background-color: #3f525c;
    border-radius: 2px;
    padding: 1rem;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-align: center;
    font-family: 'press_start_2pregular';
    width: 100%;
    min-width: 70px;
    max-width: 350px;
    margin: .5rem auto;
    box-sizing: border-box;
}
a:hover {
    background-color: #000;
  }