<div *ngIf="avion">

  <h2>{{avion.name | uppercase}} Details</h2>
  <div><span>id: </span>{{avion.id}}</div>
  <div><span>hp: </span>{{avion.hp}}</div>
  <div><span>atk: </span>{{avion.atk}}</div>
  <div><span>def: </span>{{avion.def}}</div>
  <br>
  <div>
    <label for="avion-name">Nom avion: </label>
    <input id="avion-name" [(ngModel)]="avion.name" placeholder="name">
    <br>
    <label for="avion-life">Vie avion: </label>
    <input type="number" id="avion-hp" [(ngModel)]="avion.hp" placeholder="life">
    <br>
    <label for="avion-atk">Atk avion: </label>
    <input type="number" id="avion-atk" [(ngModel)]="avion.atk" placeholder="attaque">
    <br>
    <label for="avion-def">Def avion: </label>
    <input type="number" id="avion-def" [(ngModel)]="avion.def" placeholder="defense">
    <br>
    <button type="button" (click)="goBack()">Retour</button>
    <button type="button" (click)="save()">Sauvegarder</button>
  </div>
  
</div>